[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "content/apuntes"]
	path = content/apuntes
	url = https://github.com/jmillandev/apuntes
